<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)",
	<key>CFBundleDisplayName</key>
	<string>Interval Timer",
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)",
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)",
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0",
	<key>CFBundleName</key>
	<string>tempo_fit",
	<key>CFBundlePackageType</key>
	<string>APPL",
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)",
	<key>CFBundleSignature</key>
	<string>????",
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)",
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen",
	<key>UIMainStoryboardFile</key>
	<string>Main",
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait",
		<string>UIInterfaceOrientationLandscapeLeft",
		<string>UIInterfaceOrientationLandscapeRight",
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait",
		<string>UIInterfaceOrientationPortraitUpsideDown",
		<string>UIInterfaceOrientationLandscapeLeft",
		<string>UIInterfaceOrientationLandscapeRight",
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
