<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en",
  <key>CFBundleExecutable</key>
  <string>App",
  <key>CFBundleIdentifier</key>
  <string>io.flutter.flutter.app",
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0",
  <key>CFBundleName</key>
  <string>App",
  <key>CFBundlePackageType</key>
  <string>FMWK",
  <key>CFBundleShortVersionString</key>
  <string>1.0",
  <key>CFBundleSignature</key>
  <string>????",
  <key>CFBundleVersion</key>
  <string>1.0",
  <key>MinimumOSVersion</key>
  <string>11.0",
</dict>
</plist>
